.first-box-container {
    font-family: Arial;
    font-size: small;
    color: blue;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    background-color: red;
    position: absolute;
    border-style: solid;
    border-width: 7px;
    border-color: green;
}

.second-box-container {
    font-family: Arial;
    font-size: small;
    color: blue;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    background-color: yellow;
    position: absolute;
    left: 200px;
    border-style: solid;
    border-width: 7px;
    border-color: red;
}

.third-box-container {
    font-family: Arial;
    font-size: small;
    color: blue;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    background-color: green;
    position: absolute;
    left: 395px;
    border-style: solid;
    border-width: 7px;
    border-color: yellow;
}